{% extends 'base.html' %}

{% block content %}

<h5>Network Architecture</h5>


<form action='/train' method='get'>
    <div class='row'>
        <div class='input-field col s12 m3'>
            <input id='inputs' type='number' name='inputs' value=2>
            <label for='inputs'># of input nodes</label>
        </div>
        <div class='input-field col s12 m3'>
            <input id='hidden' type='number' name='hidden' value=1>
            <label for='hidden'># of hidden nodes</label>
        </div>
        <div class='col s12 m3'>
            <button>Create</button>
        </div>
    </div>
</form>

Input layer size range: 1 - 6
<br>
Hidden layer size range: 0 - 4
<br>
Learning rate range: 0.1 - 1.2
<br>
<br>
Values beyond these will automatically be readjusted.

{% endblock %}