{% extends 'base.html' %}

{% block content %}

<h5>Your Model</h5>


<div class='row'>
    <form>
    <div class='col s12 m2'>

        {% for i in range(inputs) %}
            <div class='col s4 m12'>

                <label for="in{{ i }}">Input {{ i }}</label>
                <input type='number' name='in{{ i }}' id='in{{ i }}' value=1>

            </div>
        {% endfor %}
    </div>

    <div class='col s12 m2'>
        {% for w in WEIGHTS1 %}
            <div class='col s4 m12'>
                <label for="weight1-{{ loop.index0 }}">Weights1 {{ i }}</label>
                <input disabled type='number' name='weight1-{{ loop.index0 }}' id='weight1{{ loop.index0 }}' value='{{ w }}'>
            </div>
        {% endfor %}
    </div>

    <div class='col s12 m2'>
        {% for i in range(hidden) %}
            <div class='col s6 m12'>
                <label for="hidden{{ i }}">Hidden {{ i }}</label>
                <input disabled type='text' name='hidden{{ i }}' id='hidden{{ i }}' value='{{ hiddenvalues[0][i] }}'>
            </div>
        {% endfor %}
    </div>

    <div class='col s12 m2'>
        {% for w in WEIGHTS2 %}
            <div class='col s4 m12'>
                <label for="weight2-{{ loop.index0 }}">Weights2 {{ i }}</label>
                <input disabled type='number' name='weight2-{{ loop.index0 }}' id='weight2{{ loop.index0 }}' value='{{ w }}'>
            </div>
        {% endfor %}
    </div>

    <div class='col s12 m2'>
        {% for i in range(1) %}
            <div class='col s12 m12'>
                <label for="output">Expected Output</label>
                <input type='number' name='output' id='output' value=1>
            </div>
        {% endfor %}
    </div>

    <div class='col s12 m2'>

        <div id='activations' name='activations' class='input-field col s12'>
            <select name="activation">
              <option value="sigmoid" {% if ACT == 'sigmoid' %} selected {% endif %} >Sigmoid</option>
              <option value="relu" {% if ACT == 'relu' %} selected {% endif %} >ReLU</option>
              <option value="leaky_relu" {% if ACT == 'leaky_relu' %} selected {% endif %} >Leaky ReLU</option>
              <option value="tanh" {% if ACT == 'tanh' %} selected {% endif %} >Tanh</option>
              <option value="linear" {% if ACT == 'linear' %} selected {% endif %} >Linear Activation</option>
            </select>
            <label for='activations'>Activation Function</label>
        </div>

        <div class='input-field col s12'>
            <input id='lrate' type='number' step=0.1 name='lrate' value=0.1>
            <label for='lrate'>learning rate</label>
        </div>

        <div class='input-field col s12'>
            <input id='iterations' type='number' step=1.0 name='iterations' value=5>
            <label for='iterations'>iterations</label>
        </div>

        <div class='col s12'><br></div>

        <div class='col s6'>
            <button type='submit' formmethod='POST' action='/train/{{ model }}'>Train</button>
        </div>

        <div class='col s6'>
            <a href='/'>Change</a>
        </div>

    </div>
    </form>
</div>


<h5>Iterations</h5>

<div style='overflow-y: scroll;'>
    <table>
    {% for i in DATA | reverse%}
        <tr>
            <td>{{ i }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}